@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.event-detail{
    padding: $mobile-vertical $mobile-horizontal-regular;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;

    &__hero-container{
        width:100%;
    }

    &__image{
        object-fit:cover;
        width:100%;
    }

    &__main{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    &__title-container{
        width: 95%;
    }

    &__title{
        font-size: $mobile-title;
        font-weight: light;
        padding-bottom: $mobile-vertical;
    }

    &__datetime-container{
        width:70%;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1.5rem;
    }

    &__time{
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 0.85rem;
        padding-left:0.5rem;
    }

    &__date{
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.85rem;
    }

    &__description-container{
        width:60%;
        padding: 0 1rem 3rem 0;
    }

    &__description{
        font-size: $mobile-description;
    }

    &__detail{
        width:40%;
        padding:0.25rem;
        border:1px solid $border-gray;
        border-radius: $button-border-radius;
    }

    &__detail-container{
        display: flex;
        flex-direction: column;
        width:80%;
    }

    &__text{
        font-size: 0.75rem;
    }

    &__link-container{
        margin:0.5rem;
        height:2.25rem;
        border-radius: $button-border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-gray;
    }

    &__link{
        color:white;
    }

    &__genre{
        font-family: "garamond";
        color:$red;
        font-style: italic;
    }
    &__map-container{
        width:100%;
        height:20rem;
        padding-top:1.5rem;
    }

    &__map{
        object-fit: cover;
        width: 100%;
        height:100%;
    }

}