//tablet and desktop breakpoints
$screen-tablet-min:768px;
$screen-desktop-min:1280px;

//general vertical paddings
$mobile-vertical:0.25rem;

//general horizontal paddings
$mobile-horizontal-small: 0.25rem;
$mobile-horizontal-regular: 0.75rem;

//form measurements
$form-height-mobile:2rem;
$form-height-tablet:2.375rem;
$form-border-radius:20px;
$form-horizontal-padding:1rem;
$form-vertical-padding:0.25rem;

//font size
$mobile-title:2.125rem;
$mobile-description:0.85rem;
$mobile-detail-title:1rem;
$mobile-detail-text:0.85rem;

$button-border-radius: 6px;


//general spacing mobile
$event-card-margin:0.685rem;
$event-container-top-bottom-padding: 0.5rem;