@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.header{
    background-color: white;
    height:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-container{
        width:11rem;
        display: flex;
    }

    &__logo{
        object-fit: cover;
        width:100%;
        height: 3rem;
    }

    &__sign-in-container{
        padding-right:1.25rem;

    }

    &__button{
        border: none;
        color:$dark-gray;
        font-size:0.75rem;
        background-color: white;
        cursor:pointer;
    }

    @include desktop{
        width:65rem;
        display: flex;
        margin-left:auto;
        margin-right: auto;
    }
}