@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.eventcard{
    background-color: white;
    margin:$event-card-margin;

    &__container-image{
        width:100%;
        border-radius:10px;
    }

    &__image{
        object-fit:cover;
        width:100%;
    }

    &__container-information{
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 0.75rem ;

    }
    &__date{
        width:33%;
        font-size:0.85rem;
        font-style: italic;
    }
    &__time{
        width:33%;
        font-size:0.85rem;
        font-style: italic;
    }
    &__distance{
        width:33%;
        font-size:0.85rem;
        font-style: italic;
    }
    &__title{
        padding:0.5rem 0rem;
        width:100%;
        font-size:1.5rem;
        font-weight:bold;
    }
    &__description{
        margin:0.5rem 0rem;
        width:100%;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}