@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.footer{
    background-color: black;
    padding:$event-card-margin;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__copyright{
        color:white;
        font-size:0.875rem;
    }

    &__post{
        color:white;
        font-size: 0.75rem;
    }
}