@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.events-container{
    background-color: $dark-gray;
    padding: $event-container-top-bottom-padding 0;

    @include desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $event-container-top-bottom-padding-desktop 0;
    }
}