@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;


.genre-detail{
    margin: $filter-container-spacing;
    display: flex;
    flex-direction: column;

    &__title-container{
        width:100%;
        @include desktop{
            width:$desktop-width;
        }
    }

    &__title{
        margin: $title-top-bottom-padding 0;
        background-color: white;

        @include tablet{
            font-size: $tablet-title;
        }
    }

    &__body{
        display: flex;
        @include desktop{
            width:$desktop-width;
        }
    }

    &__hero-container{
        width:100%;

        @include desktop{
            width:$desktop-width;
        }
    }

    &__hero{
        object-fit: cover;
        width: 100%;
    }

    &__subtitle-container{
        margin-top:2rem;
        @include desktop{
            width:$desktop-width;
        }
    }

    &__subtitle{
        font-style: italic;
        font-weight: 300;
        font-size: 1.25rem;

        @include tablet{
            font-size: $tablet-subtitle;
        }
    }

    @include desktop{
        align-items: center;
        }
}